<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link rel="shortcut icon" href="../static/images/ticket-alt-solid.svg" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light d-flex justify-content-center align-items-center vh-100">

  <div class="card text-center shadow-lg p-4">
    <div class="card-body">
      <h1 class="card-title mb-4">Bienvenido a Tickets ADO</h1>
      <p class="card-text mb-4">Elige una opción para continuar:</p>
      <div class="d-grid gap-3">
        <a href="login.html" class="btn btn-primary btn-lg">Iniciar Sesión</a>
        <a href="registro.html" class="btn btn-secondary btn-lg">Registrarse</a>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>